doctype html
html
	head
		title FMB Screen
		style
			include ../css/bootstrap.min.css
			include ../css/screen.css
	body
		header#header
			div#frame
				div#slideshow.layout2-slideshow
					div.auto-margin
