html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	margin: 0px;
}

audo {
	display: none;
}

p.message {
	background-color: lightgray;
	padding: .5em;
	font-size: 3em;
	text-align: center;
	background-color: #3673bd;
	color: white;
	font-weight: bold;
}

.full-height {
	height: 100%;
}

.auto-margin {
	margin: auto;
}

#frame {
    width: 100%;
    height: 100%;
}

#status {
	font-family: monospace;
	font-weight: bold;
	color: lightskyblue;
	position: absolute;
	right: 1em;
	top: 1em;
}

#status.bad {
	color: salmon;
}

#status.good {
	color: limegreen;
}


/* LAYOUTS */
#slideshow {
	display: flex;
	font-size: 5em;
	text-align: center;
}

#slideshow div {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.row {
	margin: 0;
}

.row div {
	padding: 0;
}

.row #ticker {
	border-left: black solid 1px;
}

.layout1-slideshow {
	width: 100%;
	height: 80%;
}

.layout1-ticker {
	width: 100%;
	height: 20%;
	border-top: black solid 1px;
}

.layout2-slideshow {
	width: 100%;
	height: 100%;
}
